<nav class="nav-item px-3">
    <NavLink class="nav-link" href="">Notes</NavLink>
    <NavLink class="nav-link" href="ip">Pokaż ip</NavLink>
    <NavLink class="nav-link" href="dogs">Pokaż losowe zdjęcie psa</NavLink>
    <NavLink class="nav-link" href="apis">API test</NavLink>
</nav>

<style>
    nav a {
        padding: 5px 10px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
    }

        nav a:visited, a:link {
            color: #334953;
        }

        nav a:hover {
            color: #039be5;
            background-color: #cfd8dc;
        }

        nav a.active {
            color: #039be5;
        }
</style>